.settings
dependencies.groovy
grails-mongo-file*.zip*
plugin.xml
stacktrace.log
target/
web-app/
.idea/.name
.idea/compiler.xml
.idea/copyright/Ogu_CopyRight.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/ediaz.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
atlassian-ide-plugin.xml
mongofile-grailsPlugins.iml
mongofile.iml
